/** @format */

.category {
	margin-top: 10px;
	width: 100%;
}

.category_info > h2 {
	font-size: 25px;
	font-weight: 650;
	margin-bottom: 5px;
}

.category_info > p {
	font-size: 15px;
	font-weight: 400;
	color: lightgrey;
}
.category_albums {
	display: flex;
	align-items: center;
}
